<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bi.activity.dao.ActivityTailMapper" >
  <resultMap id="BaseResultMap" type="com.bi.activity.entity.ActivityTail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="index_code" property="indexCode" jdbcType="INTEGER" />
    <result column="conf_code" property="confCode" jdbcType="INTEGER" />
    <result column="conf_coin_id" property="confCoinId" jdbcType="INTEGER" />
    <result column="conf_coin_count" property="confCoinCount" jdbcType="INTEGER" />
    <result column="tail_time" property="tailTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, member_id,parent_id,index_code, conf_code, conf_coin_id, conf_coin_count, tail_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from activity_tail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activity_tail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bi.activity.entity.ActivityTail" >
    insert into activity_tail (id, member_id,parent_id, index_code,conf_code, 
      conf_coin_id, conf_coin_count, tail_time
      )
    values (#{id,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER},
    	 #{indexCode,jdbcType=INTEGER},#{confCode,jdbcType=INTEGER}, 
      #{confCoinId,jdbcType=INTEGER}, #{confCoinCount,jdbcType=INTEGER}, #{tailTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bi.activity.entity.ActivityTail" >
    insert into activity_tail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="indexCode != null" >
        index_code,
      </if>      
      <if test="confCode != null" >
        conf_code,
      </if>
      <if test="confCoinId != null" >
        conf_coin_id,
      </if>
      <if test="confCoinCount != null" >
        conf_coin_count,
      </if>
      <if test="tailTime != null" >
        tail_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="indexCode != null" >
        #{indexCode,jdbcType=INTEGER},
      </if>      
      <if test="confCode != null" >
        #{confCode,jdbcType=INTEGER},
      </if>
      <if test="confCoinId != null" >
        #{confCoinId,jdbcType=INTEGER},
      </if>
      <if test="confCoinCount != null" >
        #{confCoinCount,jdbcType=INTEGER},
      </if>
      <if test="tailTime != null" >
        #{tailTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bi.activity.entity.ActivityTail" >
    update activity_tail
    <set >
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="indexCode != null" >
        index_code = #{confCode,jdbcType=INTEGER},
      </if>            
      <if test="confCode != null" >
        conf_code = #{confCode,jdbcType=INTEGER},
      </if>
      <if test="confCoinId != null" >
        conf_coin_id = #{confCoinId,jdbcType=INTEGER},
      </if>
      <if test="confCoinCount != null" >
        conf_coin_count = #{confCoinCount,jdbcType=INTEGER},
      </if>
      <if test="tailTime != null" >
        tail_time = #{tailTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bi.activity.entity.ActivityTail" >
    update activity_tail
    set member_id = #{memberId,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      index_code = #{indexCode,jdbcType=INTEGER},      
      conf_code = #{confCode,jdbcType=INTEGER},
      conf_coin_id = #{confCoinId,jdbcType=INTEGER},
      conf_coin_count = #{confCoinCount,jdbcType=INTEGER},
      tail_time = #{tailTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectRankingByMemberId" resultType="java.lang.Integer" parameterType="map">
  SELECT COUNT(1) FROM (
  SELECT parent_id,COUNT(parent_id) as total from activity_data_points WHERE conf_code > 2 GROUP BY parent_id  HAVING total > 
  (SELECT COUNT(parent_id) as mem from activity_data_points where conf_code > 2 and parent_id = #{memberId,jdbcType=INTEGER} )
  ) as a
  </select>
    	<!--分页 -->
	<sql id="base_page">
	<if test="(dataIndex != null and dataIndex != '' or dataIndex == 0) and (pageSize != null and pageSize != '')">
			limit #{dataIndex},#{pageSize}
	</if>
	</sql>
  
  <select id="friendsAward" resultType="com.bi.activity.entity.ActivityTail" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from activity_tail
    where 
	member_id = #{memberId,jdbcType=INTEGER}
    ORDER BY tail_time DESC
        <include refid="base_page" />
  </select>
  
  
  <select id="friendsAwardCount" resultType="java.lang.Integer" parameterType="map" >
    select 
    count(1)
    from activity_tail
    where 
	member_id = #{memberId,jdbcType=INTEGER}

  </select>
  
</mapper>