<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bi.activity.dao.ActivityConfMapper" >
  <resultMap id="BaseResultMap" type="com.bi.activity.entity.ActivityConf" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="conf_name" property="confName" jdbcType="VARCHAR" />
    <result column="conf_coin_id" property="confCoinId" jdbcType="INTEGER" />
    <result column="conf_coin_count" property="confCoinCount" jdbcType="INTEGER" />
    <result column="conf_parent_id" property="confParentId" jdbcType="INTEGER" />
    <result column="conf_status" property="confStatus" jdbcType="BIT" />
    <result column="conf_grant_count" property="confGrantCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, conf_name, conf_coin_id, conf_coin_count, conf_parent_id, conf_status, conf_grant_count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from activity_conf
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activity_conf
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bi.activity.entity.ActivityConf" >
    insert into activity_conf (id, conf_name, conf_coin_id, 
      conf_coin_count, conf_parent_id, conf_status, 
      conf_grant_count)
    values (#{id,jdbcType=INTEGER}, #{confName,jdbcType=VARCHAR}, #{confCoinId,jdbcType=INTEGER}, 
      #{confCoinCount,jdbcType=INTEGER}, #{confParentId,jdbcType=INTEGER}, #{confStatus,jdbcType=BIT}, 
      #{confGrantCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bi.activity.entity.ActivityConf" >
    insert into activity_conf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="confName != null" >
        conf_name,
      </if>
      <if test="confCoinId != null" >
        conf_coin_id,
      </if>
      <if test="confCoinCount != null" >
        conf_coin_count,
      </if>
      <if test="confParentId != null" >
        conf_parent_id,
      </if>
      <if test="confStatus != null" >
        conf_status,
      </if>
      <if test="confGrantCount != null" >
        conf_grant_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="confName != null" >
        #{confName,jdbcType=VARCHAR},
      </if>
      <if test="confCoinId != null" >
        #{confCoinId,jdbcType=INTEGER},
      </if>
      <if test="confCoinCount != null" >
        #{confCoinCount,jdbcType=INTEGER},
      </if>
      <if test="confParentId != null" >
        #{confParentId,jdbcType=INTEGER},
      </if>
      <if test="confStatus != null" >
        #{confStatus,jdbcType=BIT},
      </if>
      <if test="confGrantCount != null" >
        #{confGrantCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bi.activity.entity.ActivityConf" >
    update activity_conf
    <set >
      <if test="confName != null" >
        conf_name = #{confName,jdbcType=VARCHAR},
      </if>
      <if test="confCoinId != null" >
        conf_coin_id = #{confCoinId,jdbcType=INTEGER},
      </if>
      <if test="confCoinCount != null" >
        conf_coin_count = #{confCoinCount,jdbcType=INTEGER},
      </if>
      <if test="confParentId != null" >
        conf_parent_id = #{confParentId,jdbcType=INTEGER},
      </if>
      <if test="confStatus != null" >
        conf_status = #{confStatus,jdbcType=BIT},
      </if>
      <if test="confGrantCount != null" >
        conf_grant_count = #{confGrantCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bi.activity.entity.ActivityConf" >
    update activity_conf
    set conf_name = #{confName,jdbcType=VARCHAR},
      conf_coin_id = #{confCoinId,jdbcType=INTEGER},
      conf_coin_count = #{confCoinCount,jdbcType=INTEGER},
      conf_parent_id = #{confParentId,jdbcType=INTEGER},
      conf_status = #{confStatus,jdbcType=BIT},
      conf_grant_count = #{confGrantCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectActivityConfs" resultType="com.bi.activity.entity.ActivityConf" parameterType="map">
  	select 
    <include refid="Base_Column_List" />
    from activity_conf
    where 
    conf_parent_id = #{confParentId,jdbcType=INTEGER}
      <if test="confId != null" >
       and id = #{confId,jdbcType=INTEGER}
      </if>
  </select>
</mapper>