<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lg.datadispose.module.dao.userdao.CenterViplevelExplainMapper" >
  <resultMap id="BaseResultMap" type="com.lg.datadispose.module.bean.po.CenterViplevelExplain" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="vip" property="vip" jdbcType="VARCHAR" />
    <result column="bt_floor" property="btFloor" jdbcType="DECIMAL" />
    <result column="trading_floor" property="tradingFloor" jdbcType="DECIMAL" />
    <result column="maker_rate" property="makerRate" jdbcType="DECIMAL" />
    <result column="taker_rate" property="takerRate" jdbcType="DECIMAL" />
    <result column="taker_rate_bt" property="takerRateBt" jdbcType="DECIMAL" />
    <result column="maker_rate_bt" property="makerRateBt" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, vip, bt_floor, trading_floor, maker_rate, taker_rate, taker_rate_bt, maker_rate_bt
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from center_viplevel_explan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from center_viplevel_explan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lg.datadispose.module.bean.po.CenterViplevelExplain" >
    insert into center_viplevel_explan (id, vip, bt_floor, 
      trading_floor, maker_rate, taker_rate, 
      taker_rate_bt, maker_rate_bt)
    values (#{id,jdbcType=INTEGER}, #{vip,jdbcType=VARCHAR}, #{btFloor,jdbcType=DECIMAL}, 
      #{tradingFloor,jdbcType=DECIMAL}, #{makerRate,jdbcType=DECIMAL}, #{takerRate,jdbcType=DECIMAL}, 
      #{takerRateBt,jdbcType=DECIMAL}, #{makerRateBt,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.lg.datadispose.module.bean.po.CenterViplevelExplain" >
    insert into center_viplevel_explan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="vip != null" >
        vip,
      </if>
      <if test="btFloor != null" >
        bt_floor,
      </if>
      <if test="tradingFloor != null" >
        trading_floor,
      </if>
      <if test="makerRate != null" >
        maker_rate,
      </if>
      <if test="takerRate != null" >
        taker_rate,
      </if>
      <if test="takerRateBt != null" >
        taker_rate_bt,
      </if>
      <if test="makerRateBt != null" >
        maker_rate_bt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="vip != null" >
        #{vip,jdbcType=VARCHAR},
      </if>
      <if test="btFloor != null" >
        #{btFloor,jdbcType=DECIMAL},
      </if>
      <if test="tradingFloor != null" >
        #{tradingFloor,jdbcType=DECIMAL},
      </if>
      <if test="makerRate != null" >
        #{makerRate,jdbcType=DECIMAL},
      </if>
      <if test="takerRate != null" >
        #{takerRate,jdbcType=DECIMAL},
      </if>
      <if test="takerRateBt != null" >
        #{takerRateBt,jdbcType=DECIMAL},
      </if>
      <if test="makerRateBt != null" >
        #{makerRateBt,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lg.datadispose.module.bean.po.CenterViplevelExplain" >
    update center_viplevel_explan
    <set >
      <if test="vip != null" >
        vip = #{vip,jdbcType=VARCHAR},
      </if>
      <if test="btFloor != null" >
        bt_floor = #{btFloor,jdbcType=DECIMAL},
      </if>
      <if test="tradingFloor != null" >
        trading_floor = #{tradingFloor,jdbcType=DECIMAL},
      </if>
      <if test="makerRate != null" >
        maker_rate = #{makerRate,jdbcType=DECIMAL},
      </if>
      <if test="takerRate != null" >
        taker_rate = #{takerRate,jdbcType=DECIMAL},
      </if>
      <if test="takerRateBt != null" >
        taker_rate_bt = #{takerRateBt,jdbcType=DECIMAL},
      </if>
      <if test="makerRateBt != null" >
        maker_rate_bt = #{makerRateBt,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lg.datadispose.module.bean.po.CenterViplevelExplain" >
    update center_viplevel_explan
    set vip = #{vip,jdbcType=VARCHAR},
      bt_floor = #{btFloor,jdbcType=DECIMAL},
      trading_floor = #{tradingFloor,jdbcType=DECIMAL},
      maker_rate = #{makerRate,jdbcType=DECIMAL},
      taker_rate = #{takerRate,jdbcType=DECIMAL},
      taker_rate_bt = #{takerRateBt,jdbcType=DECIMAL},
      maker_rate_bt = #{makerRateBt,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 以下为新增 -->
  <select id="queryAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from center_viplevel_explan
  </select>
  
</mapper>