<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lg.datadispose.module.dao.userdao.CenterIntegralDetailMapper" >
  <resultMap id="BaseResultMap" type="com.lg.datadispose.module.bean.po.CenterIntegralDetail" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="member_id" property="memberId" jdbcType="VARCHAR" />
    <result column="isincrease" property="isincrease" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="DECIMAL" />
    <result column="occur_time" property="occurTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, member_id, isincrease, status, score, occur_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from center_integral_detail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from center_integral_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lg.datadispose.module.bean.po.CenterIntegralDetail" >
    insert into center_integral_detail (id, user_id, member_id, 
      isincrease, status, score, 
      occur_time)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{memberId,jdbcType=VARCHAR}, 
      #{isincrease,jdbcType=BIT}, #{status,jdbcType=INTEGER}, #{score,jdbcType=DECIMAL}, 
      #{occurTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lg.datadispose.module.bean.po.CenterIntegralDetail" >
    insert into center_integral_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="isincrease != null" >
        isincrease,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="occurTime != null" >
        occur_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="isincrease != null" >
        #{isincrease,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="occurTime != null" >
        #{occurTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lg.datadispose.module.bean.po.CenterIntegralDetail" >
    update center_integral_detail
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="isincrease != null" >
        isincrease = #{isincrease,jdbcType=BIT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="occurTime != null" >
        occur_time = #{occurTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lg.datadispose.module.bean.po.CenterIntegralDetail" >
    update center_integral_detail
    set user_id = #{userId,jdbcType=VARCHAR},
      member_id = #{memberId,jdbcType=VARCHAR},
      isincrease = #{isincrease,jdbcType=BIT},
      status = #{status,jdbcType=INTEGER},
      score = #{score,jdbcType=DECIMAL},
      occur_time = #{occurTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!-- 以下为新增 -->
  <select id="selectTodayScore" resultType="java.math.BigDecimal" parameterType="map" >
	select
	sum(center_integral_detail.score)
	from
	center_integral_detail
	where 1=1
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=VARCHAR}
      </if>	
      <if test="occurTime != null" >
        and occur_time &gt;= #{occurTime,jdbcType=TIMESTAMP}
      </if>
      <if test="status != null" >
        and status = #{status,jdbcType=INTEGER}
      </if>
  </select>
</mapper>